/* Landing Page */
body {
    margin: 0;
    padding: 0 2%;
}

.landing-page-container{
    margin: 0 -2%;
}

.selamat-datang {
    text-align: center;
    background: linear-gradient(to bottom, #ffffff, #d3d3ff);
    padding: 5% 2%;
    margin-bottom: -5%; /* Keep this for the overlap effect */
    border-radius: 0 0 50% 50%; /* This creates the inward curve */
    z-index: 10;
    position: relative;
}

.selamat-datang-top-texts {
    max-width: 25%;
}

.selamat-datang-top-texts h1 {
    font-size: 50px;
    font-weight: 700;
    font-style: italic;
    color: #676AFF;
    margin: 0;
}

.selamat-datang-top-texts h1.simas {
    color: #43459B;
}

.selamat-datang-top-texts p {
    margin: 20px 0;
    font-size: 1.2rem;
    color: #555;
}

.selamat-datang-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
    margin: 0 0 50px;
}

.selamat-datang-top-texts {
    text-align: left; 
    align-items: start;
    justify-content: space-evenly;
}

.selamat-datang-top-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 250px;
    height: 350px;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-1 {
    margin-bottom: 20px;
    border-radius: 50px 0 0 0;
}

.img-2 {
    margin-top: 20px;
    border-radius: 0 0 50px 0;
}

.image-accessory-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-1-accessory, .img-2-accessory {
    height: 70px;
    width: 250px;
}

.img-1-accessory {
    border-radius: 0 0 0 50px;
    margin-bottom: 60px;
    background-color: #676AFF;
}

.img-2-accessory {
    border-radius: 0 50px 0 0;
    margin-top: 60px;
    background-color: #43459B;
}

.selamat-datang-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selamat-datang-bottom p {
    font-size: 30px;
    color: #676AFF;
}

.btn-masuk {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    background: #fbd535;
    color: #676AFF;
    padding: 5px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    transition: background-color 0.3s;
}

.btn-masuk img {
    width: 30px;
    height: auto;
    margin-left: 10px;
}

.btn-masuk:hover {
    background: #ffe066;
}

.feature-image {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
}

.about-us {
    position: relative;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height: 1500px; /* Adjust this height if needed */
    padding: 0 30%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1; /* Ensure it's above the selamat-datang section */
    margin-top: -500px; /* This will help create the overlap effect */
    padding-top: 50px; /* Optional padding for spacing */
}

.about-us h2 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #FFD25D;
}

.about-us p {
    font-size: 18px;
    font-weight: 500;
}

.fitur-tersedia {
    height: auto;
    padding: 110px 20px;
    background: #ffffff;
    text-align: center;
    margin-top: -500px; /* Keep this for the overlap effect */
    border-radius: 50% 50% 0 0; /* This creates the inward curve */
    z-index: 10;
    position: relative;
}

.fitur-tersedia h2 {
    font-size: 40px;
    color: #4e54c8;
    width: 100%; 
    max-width: 400px; 
    text-align: center; 
    margin: 0 auto 50px; 
}

.fitur-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.fitur-item {
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    padding: 20px;
    width: 300px;
    height: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
}

.item-1 {
    background-color: #FFD25D; 
    color: #676AFF; 
}

.item-2 {
    background-color: #676AFF; 
    color: #ffffff;
}

.item-3 {
    background-color: #43459B; 
    color: #FFD25D; 
}

.fitur-item h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.fitur-item p {
    font-weight: 500;
}

.contact-section {
    display: flex;
    padding: 50px 20px;
    color: #fff;
    gap: 40px;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: relative;
}

.map iframe {
    width: 500px;
    height: 350px;
    border: none;
    border-radius: 0 40px 0 40px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    padding: 20px 60px;
    border-radius: 40px 0 40px 0;
    background-color: #676AFF;
}

.contact-info h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.contact-item {
    display: flex;
    align-items: flex-start;
}

.contact-item img {
    margin-right: 30px;
    flex-shrink: 0; 
}

.contact-item p {
    margin: 0; /* Remove default margin */
}

/* Footer Section */
.footer-section {
    display: flex;
    flex-direction: column;
    background-color: #FFD25D;
    text-align: center;
    margin: 40px -2% 0;
    padding: 40px 20px 0;
    gap: 30px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo img {
    width: 400px;
    height: auto;
    margin-bottom: 20px;
}

.footer-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.footer-links-item {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer-links p {
    font-weight: 500;
    font-size: 16px;
}

.footer-links a {
    color: #6F6C90;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s ease;
}

.footer-links-item img {
    margin-right: 10px;
}

.footer-links a:hover {
    color: #fbd535;
}

.footer-socials {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-socials img {
    transition: transform 0.3s ease;
}

.footer-socials img:hover {
    transform: scale(1.2);
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 20px 10px;
    border-top: solid 1px #D9DBE9;
}

/* Media landing Page */
@media (max-width: 1200px) {
    .about-us {
        padding: 0 20%; /* Adjust padding for medium screens */
    }

    .selamat-datang-top {
        gap: 50px; /* Reduce gap for medium screens */
    }

    .selamat-datang-top-texts h1 {
        font-size: 40px; /* Adjust font size for medium screens */
    }

    .selamat-datang-bottom p {
        font-size: 18px; /* Adjust font size for medium screens */
    }

    .footer-content {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: center; /* Center align items */
        text-align: center; /* Center text */
    }

    .footer-logo img {
        width: 60%; /* Make logo responsive */
    }

    .footer-links {
        justify-content: center; /* Center links */
        gap: 10px; /* Reduce gap for smaller screens */
    }

    .footer-socials {
        justify-content: center; /* Center social icons */
        gap: 20px; /* Reduce gap for smaller screens */
    }

    .footer-bottom {
        flex-direction: column; /* Stack footer bottom items */
        align-items: center; /* Center align footer bottom items */
        text-align: center; /* Center text */
    }
}

@media (max-width: 870px) {
    .selamat-datang{  
        margin-bottom: 5%;
    }

    .selamat-datang-top {
        flex-direction: column; /* Stack texts and images */
        gap: 20px; /* Adjust gap for smaller screens */
    }

    .selamat-datang-top-texts {
        text-align: center; /* Center text on smaller screens */
        max-width: 80%;
    }

    .selamat-datang-bottom p {
        font-size: 16px; /* Adjust font size for smaller screens */
    }

    .image-wrapper {
        max-width: 100%; /* Make width responsive */ /* Limit max width */
        height: auto; /* Allow height to adjust */
    }

    .about-us {
        padding: 0 10%; /* Adjust padding for smaller screens */
    }

    .fitur-tersedia {
        padding: 60px 10px; /* Adjust padding for smaller screens */
    }

    .fitur-tersedia h2 {
        font-size: 30px; /* Adjust font size for smaller screens */
        max-width: 200px; /* Adjust max width for smaller screens */
    }

    .fitur-item {
        width: 90%; /* Make width responsive */
        max-width: 300px; /* Limit max width */
        height: auto; /* Allow height to adjust */
    }

    .contact-section {
        flex-direction: column; /* Stack contact info and map */
        align-items: center; /* Center items */
    }

    .map {
        width: 100%; /* Make width responsive */
        max-width: 400px; /* Limit max width */
    }

    .map iframe {
        width: 100%; /* Make iframe responsive */
        height: 200px; /* Adjust height for smaller screens */
    }
}

@media (max-width: 600px) {
    .selamat-datang-top-images{
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .image-accessory-wrapper {
        margin: -5%;
    }

    .img-1-accessory,
    .img-2-accessory {
        display: none;
    }

    .about-us h2 {
        font-size: 40px; /* Adjust font size for smaller screens */
    }

    .about-us p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .footer-links p,
    .footer-links a {
        font-size: 14px; /* Reduce font size on very small screens */
    }

    .footer-bottom {
        padding: 10px 20px; /* Adjust padding for smaller screens */
    }
}